table {
    margin: 26px auto;
    border: 1px solid #369;
}

table th {
    background-color: #369 ;
    color: white ;

}

table tr {
    cursor: pointer;
    background-color: #eaeaea;
    height: 36px;
}

table tr:nth-child(2n+1) {
    background-color: #fafafa;
}

table td {
    padding: 10px 15px;
    border-right: 55px #369
}

table td:last-child {
  padding:  2px 22px;
  border-right: none;
}